{{< layout }}
{{$ title }}Customers{{/ title }}

{{$ header }}

{{/ header }}

{{$ content}}
<div class="panel panel-default">
    <div class="panel-heading">{{Message}}</div>
    <div class="panel-body">

    {{< customer_modal}}

    {{/ customer_modal}}

        <div class="row">
            <div class="col-md-3">
                <h3>Quick Actions</h3>
                <a href="customers.php?action=add" class="btn btn-info btn-block" role="button"><i class="zmdi zmdi-account-add"></i>&nbsp;New Customer</a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="Search Customers...">
                            <span class="input-group-btn">
                              <button type="submit" class="btn btn-info">
                                  <i class="zmdi zmdi-search"></i>
                              </button>
                            </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Reservation</th>
                                <th>First</th>
                                <th>Last</th>
                                <th>Type</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Waiver</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{# customers}}
                                <tr>
                                    <td>
                                        <a class="btn btn-info btn-sm" role="button" href="invoices.php?customerID={{customerID}}"><i class="zmdi zmdi-account-calendar"></i></a>
                                    </td>
                                    <td>{{customerFirstName}}</td>
                                    <td>{{customerLastName}}</td>
                                    <td>{{customerTypeName}}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm" role="button" href="customers.php?cID={{customerID}}"><i class="zmdi zmdi-account"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-info" href="customers.php?action=edit&customerID={{customerID}}" title="Edit this customer"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                    <td>
                                        {{#customerWaiver}}<a class = "btn btn-sm btn-success" title="Waiver signed"><i class=" zmdi zmdi-thumb-up"></i></a>{{/customerWaiver}}
                                        {{^customerWaiver}}<a class = "btn btn-sm btn-danger" href="customers.php?action=edit&customerID={{customerID}}" title="Update waiver"><i class=" zmdi zmdi-thumb-down"></i></a>{{/customerWaiver}}
                                    </td>
                                </tr>
                            {{/ customers}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/ content}}

{{$ scripts }}
<script src="../js/customers.js"></script>
{{/ scripts }}
{{/ layout }}
