
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Please select a date range</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>

  </script>
</head>
<body>
 
<p><center>Rental Date: <input type="text" id="rent">    Return Date: <input type="text" id="return"></center></p>
 
 <!--p>{{{submitButton}}}</p-->
 <br />
 <!-->REMEMBER TO CHECK THE DATE AVAILABILITY BEFORE INSERTING!  IN CASE THEY LEAVE THE SELECTOR OPEN OVER NIGHT<-->
 <!-->ALSO CHECK THAT RETURN DATE IS GREATER THAN RENTAL DATE<-->
 <p><center><button type="button">Submit Me</button></center></p>
</body>
</html>
