{{< layout }}
{{$ title }}Old Reservations{{/ title }}

{{$ header }}

{{/ header }}

{{$ content}}
<div class="panel panel-default">
    <div class="panel-heading">{{Message}}</div>
    <div class="panel-body">

    {{< invoice_modal}}

    {{/ invoice_modal}}
        <div class="row">
            <div class="col-md-3">
                <h4>Reservation Actions</h4>
                <button class="btn btn-md btn-info btn-block" data-toggle="modal" data-target="#buildCartModal"><i class="zmdi zmdi-file-plus"></i>&nbsp;New</button>
                <a class="btn btn-md btn-info btn-block" href="invoices.php"><i class="zmdi zmdi-calendar"></i>&nbsp;Today's</a>
                <a class="btn btn-md btn-info btn-block" href="invoices.php?action=checkOut"><i class="zmdi zmdi-check-square"></i>&nbsp;Checked Out</a>
                <a class="btn btn-md btn-info btn-block" href="invoices.php?action=all"><i class="zmdi zmdi-format-list-bulleted"></i>&nbsp;All</a>
                <a class="btn btn-md btn-info btn-block" href="invoices.php?action=old"><i class="zmdi zmdi-calendar-close"></i>&nbsp;Old</a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="searchOld" class="form-control" placeholder="Search reservations...">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info">
                                        <i class="zmdi zmdi-search"></i>
                                    </button></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="list-group">
                    {{# OldInvoices}}
                        <div class="list-group-item">
                                <div class="row-picture">
                                    <a href="customers.php?cID={{customerID}}"><i class="zmdi zmdi-account-o"></i></a>
                                </div>
                                <div class="row-content">
                                    <div class="col-md-6">
                                        <h4><b>Customer:</b> {{ customerFirstName }} {{ customerLastName }}</h4>
                                        <p class="list-group-item-text"><b>Phone:</b> {{ customerPhone }}</p>
                                        <p class="list-group-item-text"><b> {{ oldInvoiceStartDate }} </b> to <b> {{ oldInvoiceEndDate }} </b> </p>
                                        <p class="list-group-item-text"><b>Trip: </b> {{ oldInvoiceComments }}</p>
                                        <ul id="invoiceItemsList{{oldInvoiceID}}" class="list-group">

                                        </ul>
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-info" onclick="getOldInvoiceItems({{oldInvoiceID}})" title="View reservation items"><i class="zmdi zmdi-format-list-bulleted"></i></a>
                                        <a class="btn btn-sm btn-danger" id="restoreButton" href="invoices.php?action=restore&oldInvoiceID={{oldInvoiceID}}" title="Restore this reservation"><i class="zmdi zmdi-undo"></i></a>
                                    </div>
                                </div>
                        </div>
                        <div class="list-group-separator"></div>
                    {{/OldInvoices}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/ content}}

{{$ scripts }}
	<!-- bootbox code -->
	<script src="../js/vendor/bootbox.min.js"></script>
	<script src="../js/createCart.js"></script>
    <script src="../js/invoices.js"></script>
{{/ scripts }}
{{/ layout }}
