<!-- Begin Modals section for different alerts and dialogs -->
    <!-- Delete Cart Modal -->
    <div class="modal fade" id="deleteUserModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete this cart?</h4>
                </div>
                <div class="modal-body">
                    <p>You cannot undo this operation.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="deleteCart()" class="btn btn-info btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>